/Design Patterns/nbproject/private/
/factoryDP/nbproject/private/
/Creational/factoryDP/build/
/AbsFactoryDP/nbproject/private/
/CommandDP/nbproject/private/
/BuilderDP/nbproject/private/
/Creational/BuilderDP/build/
/calculoCheckout/nbproject/private/
/calculoCheckout/build/